Thumbs.db
.DS_Store
/vs2010/ipch
/vs2010/bin
/vs2008/bin

/ide/bin
/ide/obj

/src/config

/lib/

build/
xcuserdata/
DerivedData/
*.pbxuser
*.perspectivev3

/release

# Produced by test runner
test/xml-results
.idea
cmake/projects/

bin/api-reference-parser/vendor
docs/api-reference
moai-sdk/
host-templates/windowsphone/vs2013/AppPackages/
host-templates/windowsphone/vs2013/ARM/
host-templates/windowsphone/vs2013/Debug/
host-templates/windowsphone/vs2013/ipch/
host-templates/windowsphone/vs2013/libmoai/
host-templates/windowsphone/vs2013/Moai Template.WindowsPhone/ARM/
host-templates/windowsphone/vs2013/Moai Template.WindowsPhone/Debug/
host-templates/windowsphone/vs2013/Moai Template.WindowsPhone/Release/
host-templates/windowsphone/vs2013/Release/
