<file-list>
    <div id="filelist">
        <ul>
            <li each="{opts.files}" onclick="{select}">
                <file-icon file="{this}"></file-icon>
            </li>
        </ul>
    </div>
    <script>
        select(e) {
            console.log("File selected", e.item);
            this.trigger("fileSelected", e.item);
        }

        this.on("mount", function() {
            var container = $('#filelist')[0];
            Ps.initialize(container);
        })
    </script>
</file-list>