<file-list>
    <div id="filelist">
        <ul>
            <li each="{opts.files}" onclick="{select}">
                <file-icon file="{this}"></file-icon>
            </li>
        </ul>
    </div>
    <script>
        this.files = [];

        select(e) {
            console.log("File selected", e.item);
            this.trigger("fileSelected", e.item);
        }

        this.on("update", function() {
           if (opts.files != this.files) {
               this.files = opts.files;
               var container = $('#filelist')[0];
               container.scrollTop = 0;
           }
        });

        this.on("mount", function() {
            var container = $('#filelist')[0];
            Ps.initialize(container);
        })
    </script>
</file-list>