<sample-browser>
    <header>
        <h2>Moai Sample Browser</h2>
    </header>
    <sample-list samples="{opts.samples}" onselected="{doselected}"/>
    <file-display files="{files}"/>

    <player sample="{sample}"/>

    <script>
        this.files = [];

        this.loadSample = function(sample) {
            this.sample = sample;
            loadDeferredScripts(["../"+sample+"/romdata.js"],['romData'], function() {
                var files = romJson.files;
                var packageData = b64.base64DecToArr(romData).buffer;

                for (var i=0; i < files.length; i++) {
                    var file = files[i];
                    file.data = new Uint8Array(packageData,file.start,(file.end -file.start));
                }
                this.files = files;
                this.update();
            }.bind(this))
        };


        this.on("mount", function() {
            this.tags['sample-list'].on("selected", this.loadSample.bind(this))


        })


    </script>


</sample-browser>